@import './base.css';

body{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#app {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  font-weight: normal;
  color: #9BA4B5;
}

.text-accordion:hover{
  text-decoration: underline;
}

.text-accordion {
  color: #9BA4B5;
}

.tile-accordion:hover{
  cursor: pointer;
  box-shadow: 1px 1px 20px 5px;
}

.icon-color{
  cursor: pointer;
  color: #9BA4B5;
}

.toast-body{
  color: #394867;
}

.error{
  color: red;
}

/*  */
/* hsla(160, 100%, 37%, 1) */
div.container-bg{
  background-color: #394867;
}

a:visited{
  color: #9BA4B5;
}

.nav-item>a{
  color: white;
}

a:hover{
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

button.btn, table.table{
  background-color: #212A3E;
  color: #F1F6F9;
}

.modal-content{
  color: #F1F6F9;
}

@media (hover: hover) {
  a:hover{
    background-color: hsla(209, 80%, 76%, 0.2);
    color: white;
  }

  tbody>tr:hover{
    background-color: white;
  }
}

@media(min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */
}
